:root{}

*, 
::before,
::after{
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}


a{
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

.yellow{    
    color: rgb(209, 171, 0);
}

/* FROM HERE: index0 */
#index0-body{
    height: 98vh;
    font-size: 6rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#index0-left{
    width: 100%;
}
#index0-right{
    width: 100%;
    white-space: nowrap;
    padding:0 12% 8% 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    letter-spacing: 3px;
}
@media(max-width: 600px){
    #index0-left{width: 0%}
    #index0-right{
        justify-content: center;
        padding: 0 0 25% 0;
    }
}
/* TO HERE: index0 */
/* FROM HERE: index1 */
#index1-body{
    height: 98vh;
    max-width: 1651px;
    margin:auto;
    font-size: 4.44vw;
    letter-spacing: 3px;
    overflow: hidden;
}
.index1-underscore{
    font-size: 5vw;
}
#top{
    height: 33.3%;
    display: flex;
    flex-direction: row;
}
#top-1{
    height: 100%;
    width: 50%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
}
#top-2{
    height: 100%;
    width: 50%;
    padding: 0 5% 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* justify-content: center; */
}
#middle{
    height: 33.3%;
}
#middle-1{
    height: 100%;
    width: 100%;
    padding-left: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
}
#bottom{
    height: 33.3%;
    display: flex;
    flex-direction: row;
}
#bottom-1{
    height: 100%;
    width: 50%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */

}
#bottom-2{
    height: 100%;
    width: 50%;
    padding-left: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
}

/* @media(max-width:800px){
    #body{
        font-size: 2rem;
    }
} */
@media(min-width: 1352px){
    #body{
        font-size: 6rem;
    }
    .underscore{
        font-size: 6.3rem;
    }
}
@media(max-width: 650px){
    #index1-body{
        font-size: 5rem;
    }
    .underscore{
        font-size: 5.2rem;
    }
    #top{
    height: 40%;
    display: flex;
    flex-direction: column;
    }
    #top-1{
        /* height: 20%; */
        width: 100%;
        padding-left: 8%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /* justify-content: center; */
    }
    #top-2{
        /* height: 20%; */
        width: 100%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        /* justify-content: center; */
    }
    #middle{
        height: 20%;
    }
    #middle-1{
        /* height: 20%; */
        width: 100%;
        padding-left: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /* justify-content: center; */
    }
    #bottom{
        height: 40%;
        display: flex;
        flex-direction: column;
    }
    #bottom-1{
        /* height: 20%; */
        width: 100%;
        padding-left: 20%;
        padding-top: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: flex-start; */
        justify-content: center;

    }
    #bottom-2{
        /* height: 20%; */
        width: 100%;
        padding-bottom: 3%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        /* justify-content: center; */
    }

}
@media(max-width:511px){
    #index1-body{
        font-size: 8vw;
    }
    .underscore{
        font-size: 11vw;
    }
}
/* TO HERE: index1 */

/* FROM HERE: index2 */

#i2-body {
    margin: 0;
}





/* FROM HERE: main.html */

#i2-body {
    max-width: 940px;
    margin: auto;
}

#body-div1 {
    position: sticky;
    top: 0;
    z-index: 11;
}
#header {
    background: rgb(255, 255, 255);
}

#nav {
    height: 6.8rem;
    font-size: 2rem;
}

#nav-layer1 {
    height: 6rem;
    margin: 0 7rem 0 19rem;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    letter-spacing: 2px;
}

.logo{
    font-size: 4rem;
    letter-spacing: 0.5rem;
}
.logo-underscore{
    font-size: 4rem;
}
.i2-nav-underscore {
    font-size: 2rem;
}

#nav-layer1-div1-ul, #nav-layer1-div1-li2 {
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#nav-layer1-div2 {
    width: 50%;
}

#nav-layer1-div3,
#nav-layer1-div4 {
    margin: 0 0 0 5rem;
    height: 5rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#nav-layer1-div0-ul,
#nav-layer1-div1-ul,
#nav-layer1-div2-ul,
#nav-layer1-div3-ul,
#nav-layer1-div4-ul,
#nav-layer1-div5-ul,
#nav-layer1-div6-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav-layer1-div0-ul{
    height: 15px;
    padding: 0 10px 0 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'wght' 300,
    'opsz' 48;
    display: none;
}

#body-div2 {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body-div2-1,
#body-div2-2,
#body-div2-3,
#body-div2-4,
#body-div2-5,
#body-div2-6
{
    min-height: 100vh;
    border-bottom: 2px solid rgb(209, 171, 0);
}

h2, .subsection {
    padding-top: 13rem;
    margin: -6rem 2.5rem 0 0;
    text-align: right;
    font-size: 2rem;
}

.engagement {
    font-size: 2rem;
    padding: 0 0 4rem 0;
}

.body-div2-text{
    margin: auto 5rem auto 29rem;
}

#nav-left {
    z-index: 10;
    width: 24rem;
    height: 100vh;
    position: fixed;
        top: 6.8rem;
}

#nav-left-div2-ul,
#nav-left-div3-ul,
#nav-left-div4-ul,
#nav-left-div5-ul,
#nav-left-div6-ul{
    list-style-type: none;
    padding: 0;
    margin: 2.5rem 0 0 0;
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
    text-align: right;
}

#nav-left-div2 {
    margin: 5rem 0 0 0;
}



#nav-left-mobile-div0-ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
    margin:2.5rem 2rem 0 2rem;
    text-align: left;
}


#nav-left-mobile-div0-link1,
#nav-left-mobile-div0-link2 {
    padding: 0rem 3rem 0 0;
}

#nav-left-mobile{
    display: none;
}


#nav-left-mobile-alt {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 54.397px;
    animation-name: open;
    animation-duration: .5s; 
}
@keyframes open {
    0% {left: -100%;}
    100% {left: 0%;}
}

#nav-left-mobile-alt1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 54.397px;
    animation-name: close;
    animation-duration: .5s; 
}
@keyframes close {
    0% {left: 0%;}
    100% {left: -100%;}
}

#nav-left-mobile-container1{
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: calc(99.9vh - 54.397px);
    width: 60%;
    padding-right: 0rem;
    background:rgba(255, 255, 255, 0.986);
    border-right:  2px solid rgb(209, 171, 0);
    box-shadow: 0.5rem 0.8rem 1.5rem rgba(1, 1, 1, 0.291);
}



#nav-left-mobile-div2-ul,
#nav-left-mobile-div3-ul,
#nav-left-mobile-div4-ul,
#nav-left-mobile-div5-ul,
#nav-left-mobile-div6-ul{
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0 0 0;
    padding: 1rem 2rem 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
    text-align: right;
    background: rgba(1, 1, 1, 0.02);
}

#nav-left-mobile-div2-ul {
    margin: 5.5rem 0 0 0;
}
#nav-left-mobile-container2 {
    height: calc(99.9vh - 54.398px);
    width: 100%;
    right: 0;
    position: fixed;
    background: rgba(1, 1, 1, 0.2);
    animation-name: fade-in;
    animation-duration: .75s;
}
#nav-left-mobile-container2-alt {
    height: calc(99.9vh - 54.398px);
    width: 100%;
    right: 0;
    position: fixed;
    background: rgba(1, 1, 1, 0.00);
    animation-name: fade-away;
    animation-duration: 1s;
    
}
@keyframes fade-in {
    0% {background: rgba(1, 1, 1, 0.00)}
    100% {background: rgba(1, 1, 1, 0.2)}
}
@keyframes fade-away {
    0% {background: rgba(1, 1, 1, 0.2)}
    100% {background: rgba(1, 1, 1, 0.00)}
}


/* IMAGES */

.image-div-outer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 10rem 0;
}
.image-div-inner {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}
.image {
    box-sizing: content-box;
    width: 45%;
    padding: 1rem 2rem 1rem 2rem;
    border: 0.25px solid rgb(0, 0, 0);
}

.body-div2-1-div-inner {
    justify-content: flex-end;
}

.body-div2-2-div-inner {
    justify-content: flex-end;
    width:100%;
}
.body-div2-3-div-inner {
    justify-content: flex-start;
}
.body-div2-4-div-inner {
    justify-content: flex-end;
}
.body-div2-5-div-inner {
    justify-content: flex-end;
}


/* ABOUT PAGE */

.quote_text {
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
}
.quote_author {
    text-align: right;
    font-size: 1.6rem;
    margin-bottom: 8rem;
}

#body-div2-6-title1 {
    font-weight: 600;
    font-size: 1.9rem;
}

.sitelines_underscore {
    color: rgb(209, 171, 0);
}

#body-div2-6-div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0 5rem 0;
    height: 30rem;
    width: 100%;
}
#body-div2-6-div2-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
#body-div2-6-div2-1 img {
    width: 75%;
}
#body-div2-6-div2-1 span {
    font-size: 1.3rem;
}
#body-div2-6-div2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
    width: auto;
}
#body-div2-6-div2-2 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    white-space: nowrap;
    height: 100%;
    font-size: 1.3rem;
}

#body-div2-6-div3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 8rem 0 8rem 0;
    width: 100%;
}
#body-div2-6-div3-1 {
    width: 100%;
}
#body-div2-6-div3-2 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 5px;
}
#body-div2-6-div3-2 span {
    white-space: nowrap;
}
#body-div2-6-div3-3 {
    display: inherit;
    justify-content: flex-end;
    width: 25%;
}
#body-div2-6-div3-3 img {
    width: 100%;
}


/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    height: 25vh;
    margin: 25rem 5rem 0 29rem;
    
}

#footer-div {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-end;
    padding: 0.3rem 1rem 1rem 0;
    border-right: 2px solid rgb(209, 171, 0);
    border-bottom: 2px solid rgb(209, 171, 0);
    /* border-radius: 0 1.5rem 0 0.5rem; */
    margin-bottom: 1rem;
}

#footer-div span {
    font-size: 1.5rem;
}

/* MEDIAQUERIES */

@media(max-width:800px){
    #body-div2-6-div3-2 span {
        white-space: unset;
        text-align: right;
    }
}

@media(max-width:688px){
    html{
        font-size: 9px;
    }
}
@media(max-width:658px){
    html{ font-size: 8px;}
}
@media(max-width:556px){

    #nav-layer1-div2 {
        /* display: none; */
        width: 10%;
    }
    #nav-layer1 {
        justify-content: space-between;
    }

    .body-div2-text{
        margin: auto 2rem auto 2rem;
    }
    
    #nav-layer1-div3,
    #nav-layer1-div4 {
        display: none;
    }

    #nav-left{
        display:none;
    }
    #menu-hidden {
        cursor: pointer;
        display: none;
        border:none;
        background:rgb(255, 255, 255);
    }
    
    #menu-visible {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        border:none;
        background:rgb(255, 255, 255);
    }
    #close-hidden {
        cursor: pointer;
        display: none;
        border:none;
        background:rgb(255, 255, 255);
    }
    #close-visible {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        border:none;
        background:rgb(255, 255, 255);
    }
    
    #nav-layer1{
        margin: auto;
    }

    #footer {
        margin: 25rem 2rem 0 2rem;
    }

    
}
@media(max-width:394px) {
    #nav-left-mobile-container1 {
        width:225px;
    }
}
@media(min-width:557px){
    #nav-layer1-div0 {
        display: none;
    }
    #nav-left-mobile-alt {
        display: none;
        flex-direction: unset;
        font-size: 0;
    }
}

/* MEDIA QUERIES: HEIGHT */

@media(max-height:414px){
    #nav-left-div2-ul,
    #nav-left-div3-ul,
    #nav-left-div4-ul,
    #nav-left-div5-ul,
    #nav-left-div6-ul{
        list-style-type: none;
        padding: 0 0.5rem 0 0;
        margin: 1rem 0 0 0;
        font-size: 2rem;
        letter-spacing: 0.12rem;
        text-align: right;
        background:rgba(1, 1, 1, 0.02);
    }

    #nav-left-div2 {
        margin: 1rem 0 0 0;
    }
}
@media(max-height:360px){
    #nav-left-div2-ul,
    #nav-left-div3-ul,
    #nav-left-div4-ul,
    #nav-left-div5-ul,
    #nav-left-div6-ul{
        list-style-type: none;
        padding: 0 0.5rem 0 0;
        margin: 0.5rem 0 0 0;
        font-size: 1.9rem;
        letter-spacing: 0.12rem;
        text-align: right;
        background:rgba(1, 1, 1, 0.02);
    }

    #nav-left-div2 {
        margin: 0;
    }
}
        
        